*{
    font-family: 'Tahoma';
}

#navbar{
    display: flex;
    flex-direction: row;
}
.navbar_item{
    min-width: 105px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}
.navbar_item_active{
    background-color: lightblue;
}

.listRw{
    border: solid 1px grey;
    height: fit-content;
}
.listClm{
    border: solid 1px grey;
    padding: 4px;
}

/*Task creation pane*/
#Controls{
    position: fixed;
    top:18px; right:0px;
    width: 220px;
    min-height: 40vh;
    height: fit-content;
    & *{
        margin: 3px;
    }
    overflow: hidden;
    background-color: lightblue;
    padding: 10px;
    transition: 0.3s;
}
#ControlsMessages{
    font-size: 12px;
    width: 100%;
}

/*Action pane*/
#ActionConfmrFrcr{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: Fixed;
    width: 100vw; height: 100vh;
    top:0; left:0;
    background-color: rgba(0, 0, 0, 0.29);
}
#ActionConfmr{
    z-index: 2;
    position: absolute;
    padding: 21px;
    max-width: 400px;
    width: 60vw;
    height: 65vh;
    background-color: rgb(181, 218, 218);
}
#asgndActSlc{ color: rgb(6, 91, 91); cursor: pointer; &:hover{color: rgb(27, 52, 52);} }
#dneActSlc{ color: rgb(6, 91, 91); cursor: pointer; &:hover{color: rgb(27, 52, 52);} }
.taskStSlctd{ text-decoration: underline; font-weight: bold;}
#inventoryMods{
    height: fit-content;
    max-height: 220px; min-height: 60px;
    margin: 6px;
    overflow: auto;
}
#itemNameInp{
    width: 240px;
}
#addItem{
    cursor: pointer;
    margin: 0 3px 0 3px;
    padding: 0 6px 0 6px;
    background-color: rgb(155, 217, 177);
    &:hover{
        background-color: rgb(178, 241, 200);
    }
    &:active{
        background-color: rgb(124, 181, 144);
    }
}
.itemQtyInp{
    width: 80px;
    border: none;
    background-color: cornsilk;
}
.removeItem{
    cursor: pointer;
    padding: 0 6px 0 6px;
    border-radius: 4px;
    background-color: rgb(213, 213, 213);
    &:hover{
        background-color: rgb(223, 223, 223);
    }
    &:active{
        background-color: rgb(151, 151, 151);
    }
}

/*Notifications*/
#ntfrShell{
    position: fixed;
    bottom: 5px; right: 0;
    width: 300px;
    height: 308px;
    z-index: 1;
    overflow: hidden;

    &:has(#notifier:hover:not(:empty)) {
        & > #notifier{ transform: unset; }/*background-color: aqua*/;
        /* & > #openNotifsLogsBtn { transform: unset; opacity: 1;} */
    }
}
.notifsNotdispld{
    & > #notifier{ transform: translateX(275px); }
    /* & > #openNotifsLogsBtn { transform: translateX(280px); opacity: 0.4;} */
}
#notifier{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    overflow: hidden;
    scrollbar-width: thin;

    position: absolute;
    left: 20px;
    width: 270px;
    height: 303px;
    padding: 5px;

    transition-duration: 0.3s;
}
.ntfrShlOpen{
    height: 100vh !important;
    z-index: 1 !important;
}
.notifLogsOpen{
    height: 100vh !important;
    overflow-Y: scroll !important;
    justify-content: unset !important;
    background-color: #c6e1e1;
}
#openNotifsLogsBtn{
    position: absolute;
    background-color: #aaaaaa;
    width: 20px;
    height: 60px;
    bottom: 100px;
    transition-duration: 0.3s;
    /* opacity: 1; */
    &:hover{
        opacity: 1;
    }
    transform: translateX(280px); opacity: 0.4;
}
.notification{
    flex-shrink: 0;
    width: 240px; height: fit-content; min-height: 60px; max-height: 133px;
    background-color: burlywood;
    border: 2px solid wheat;
    margin: 3px;
    padding: 5px;
    overflow: auto;
    scrollbar-width: thin;
    font-size: 12px;

    transition-duration: 0.3s;

    display: flex;
    flex-direction: column;
}
.notifXmark{
    font-size: 10px;
    width: fit-content;
    position: absolute;
    transform: translate(-2px, -4px);
}

.taskItem{
    display: flex;
    font-size: 13px;
    border-radius: 5px;
    background-color: rgb(207, 207, 207);
    padding: 0px 4px 6px 4px;
    margin: 0 2px 0 2px;

    & .taskType{
        font-size: 12px;
        color: rgb(65, 65, 65);
    }
    & > .rmvBtn{
        appearance: none;
        height: 90%;
        width: 20px;
        background-color: #8BC34A;
        border-radius: 12px;
        border: none;
        margin: 3px;
        text-align: center;
        color: white;
        line-height: 1;
        pointer-events: all;
        &:hover{
            background-color: #a9d576;
        }
        &:active{
            background-color: rgb(72, 144, 0);
        }
    }
}

.isHdn{
    display: none;
}